*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma;
}

header {
	background-color: #ec0000;
	display: flex;
	justify-content: space-between;
}

body {
	background-color: #f3f3f3;
}
#data {
	margin: 12px 8px;
	background-color: #ffffff;
	font-size: 11px;
	padding: 20px 10px;
	align-items: center;
}

main {
	margin: 12px 8px;
	padding: 10px 10px;
	background-color: #ffffff;
	font-size: 11px;
	font-family: Tahoma;
	padding-bottom: 9px;
}
.titulo {
	color: #ed2228;
	background-color: #ecebeb;
	font-size: 12px;
	padding: 5px 3px;
	padding-left: 11px;
	margin-right: 20px;
}

#login {
	margin-top: 13px;
	margin-bottom: 20px;
	position: relative;
}
#login p {
	margin-bottom: 25px;
}
#login input {
	font-size: 10px;
	margin-right: 10px;
	width: 110px;
}
#login img {
	position: absolute;
	align-items: center;
	margin-left: 3px;
}



footer {
	margin: 12px 8px;
	padding: 10px 10px;
	background-color: #ffffff;
	font-size: 11px;
	font-family: Tahoma;
	padding-bottom: 12px;
}
footer img {
	margin-top: 13px;
}